:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 14px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 36px;
  letter-spacing: -1.68px;
  margin: 20px 0;
}

h2 {
  font-size: 20px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}
p {
  margin: 0;
}

.btn {
  border-radius: 3px;
  padding: 0 0.25rem;
  border: 1px solid var(--border);
  background-color: var(--bg);
}

.btn.active {
  color: var(--accent);
  border-color: var(--accent-border);
  background-color: var(--accent-bg);
}

.form-ctrl {
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 0.25rem;
  width: 100%;
}

.form-ctrl[type="search"] {
  border-color: transparent;
}

.form-group {
  border-radius: 8px;
  padding: 0.25rem;
  background: var(--bg);
  box-shadow: var(--shadow);
}

.app {
  height: 100vh;
  position: relative;
}

.map {
  height: 100%;
}

.control {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.feat-item {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.display-1 {
  font-size: 2rem;
  font-weight: 600;
}

.display-2 {
  font-size: 1.4rem;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-right {
  text-align: right;
}

.featured-c-t,
.featured-l-b,
.featured-r-b,
.featured-l-t {
  position: absolute;
}

.featured-l-b,
.featured-r-b {
  bottom: 1rem;
}

.featured-l-t,
.featured-c-t {
  top: 1rem;
}

.featured-l-b {
  left: 1rem;
}

.featured-l-t {
  left: 1rem;
}

.featured-r-b {
  right: 1rem;
}

.featured-c-t {
  left: 50%;
  transform: translateX(-50%);
}

.mb-sm {
  margin-bottom: 0.5rem;
}

.p-0 {
  padding: 0;
}
